body, html  {
	background-color: #eee;
	height: 100%;
	margin: 0;
}

.row {
	height: 100%;
}

#side-bar {
	background-color: #1979CA; /* Blue */
	border: none;
	border-radius: 0px;
	height: 100%;
}

form.typeSelection {
    padding-top: 5em;
    padding-bottom: 2em;
}

#user-input {
    padding-bottom: 5em;
}

.CodeMirror {
    height: 500px;
}

#save-snippet {
    background-color: #1979CA; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 16px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#add-snippet {
	background-color: #1979CA; /* Blue */
	border: none;
	color: white;
	margin-top: 1em;
}

#save-snippet:hover {
    background-color: #3d6299; /* Dark Blue */
}

#save-snippet:focus {
	border: none; 
	outline: none;
}

#add-snippet:hover {
	background-color: #3d6299; /* Dark Blue */
}

#add-snippet:focus {
	border: none;
	outline: none;
}

#snippets-container {
	margin: 10px;
	padding: 0px;
	margin: 10px 5px 10px 5px;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

.no-margin {
	margin: 0px;
}

.form-control {
	border-radius: 0px;
}

pre {
	border-radius: 0px;
}

.row {
	height: 100%;
}

.container-fluid {
	padding: 10px 25px 10px 25px;
	min-height: 100%;
	margin-bottom: -50px;
}

#footer {
	background-color: white; 
	padding: 0;
}

#footer, .push {
	height: 50px;
}

#v-model {
	margin-top: 2em;
}